.containerCA {
    background-color: rgba(255, 255, 255, 0.13);
    border: 1px solid grey;
    border-radius: 6px;
    width: 25vw;
} 

.titleCA {
    text-shadow: 0 0 5px red;
    font-size: 24px;
    text-decoration: underline;
}

.caractCA {
    text-shadow: 0 0 5px blueviolet;
}

.linkCA {
    text-decoration: none;
    color: red;
    font-weight: 600;
    font-size: 20px;
    text-shadow: 0 0 10px black;
}

.linkCA:hover {
    color: black;
    text-shadow: 0 0 10px white;
}

.actName {
    color: white;
    text-shadow: 0 0 10px rgb(122, 122, 197);
}