.containerOD {
    margin: 20px;
    backdrop-filter: blur(4px);
    color: white;
    font-family: 'Poppins';
    border: 1px solid white;
    padding: 10px;
    width: 30vw;
    border-radius: 5px;
    box-shadow: 0 0 20px white;
}




.regionOD {
    text-shadow: 0 0 8px rgba(81, 255, 0, 0.61);
}

