:root{
    --main-color: #fff1d7;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.button {
    height: 70px;
    width: 200px;
    border-radius: 4%;
    background-color: rgba(255, 255, 255, 0.226);
    border: none;
    box-shadow: 0px 0px 15px var(--main-color);
}

.button:hover {
    box-shadow: 0px 0px 6px var(--main-color);
}

.button:active {
    filter: blur(2px);
}

.link {
    font-family: 'Poppins';
    text-decoration: none;
    color:white;
    text-shadow: 0 0 10px cornflowerblue;
    font-weight: 800;
    font-size: 36px;
}

.link:hover {
    color:black;
    text-shadow: 0 0 10px cornflowerblue;
}