.contenedorLP {
  background-image: url(https://wallpaperaccess.com/full/89347.jpg);
  background-size:cover;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}



.titleLP {
  color: #0b0054d0;
  text-align: center;
  font-size: 100px;
  font-family: 'Poppins';
  margin-bottom: 180px;
  text-shadow: 0 0 20px white;

  animation-name: blink;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}



@keyframes blink {

  25%   {text-shadow: 0 0 15px white}
  75%   {text-shadow: 0 0 25px white}
}