.contenedorLP {
  background-image: url(https://wallpaperaccess.com/full/89347.jpg);
  background-size:cover;
  background-attachment: fixed;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.titleLP {
  border-radius: 5px;
  margin: 0px;
  padding: 10px;
  color: white;
  text-align: center;
  font-size: 50px;
  font-family: 'Poppins';
  margin-bottom: 180px;
  text-shadow: 0 0 10px rgb(22, 66, 148);
  animation-name: fondo;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}


@keyframes fondo {
  0%   {text-shadow: 0 0 15px white;
  font-size: 50px;}
  50%  {text-shadow: 0 0 50px white;
    font-size: 55px;}
  100% {text-shadow: 0 0 15px white;
    font-size: 50px;}
}