img {
    margin: 10px 0 0 0;
    height: 125px;
    width: 225px;
}

.containerCard {
    border: 1px solid white;
    height: 300px;
    width: 245px;
    text-align: center;
    margin: 40px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.199);
    text-decoration: none;

}

.containerCard:hover {
    transform: scale(105%);
    box-shadow: 0 0 20px white;
}
.containerCard:active {
    transform: scale(95%);
    box-shadow: 0 0 10px white;
}
 
.countryName {
    color: black;
    font-family: 'Poppins';
    text-shadow: 0 0 10px white;
    font-size: 20px;
    font-weight: 800;
}

.countryFlag {
    box-shadow: 0 0 5px white;

}

.countryRegion {
    color: black;
    font-family: 'Poppins';
    text-shadow: 0 0 10px white;
    font-size: 16px;
    font-weight: 600;
}