.pagination {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 10px;
    background-color: transparent;
    color: white;
    justify-content: center;
}

.listNumber {
    padding: 0px 5px;
}

.paginationButton {
    color: white;
    font-weight: 800;
    height: 25px;
    width: 25px;
    border: 1px solid white;
    text-align: center;
    border-radius: 4px;
    background-color: transparent;
    font-family: 'Poppins';
}
.paginationButton:hover {
    background-color: rgba(128, 128, 128, 0.719);
}

.paginationButton:focus {
    color: black;
    background-color: rgba(128, 128, 128, 0.719);
    text-shadow: 0 0 10px red;
}
