.containerSearchBar {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid blue;
    font-family: 'Poppins';
    padding: 10px;
}